<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <th class="font-medium p-2 text-left">Id</th>
    <th class="font-medium p-2 text-left">Title</th>
    <th class="font-medium p-2 text-left">Author</th>
    <th class="font-medium p-2 text-left">Genre</th>
    <th class="font-medium p-2 text-left">Cancel</th>
    <th class="font-medium p-2 text-left"></th>
  </tr>
  <tr class="border-b hover:bg-gray-50" *ngFor="let book of books">
    <td class="p-2">{{ book.id }}</td>
    <td class="p-2">{{ book.title }}</td>
    <td class="p-2">
      <span *ngFor="let author of book.authors"
        ><p>{{ author.firstName }} {{ author.lastName }}<br /></p
      ></span>
    </td>
    <td class="p-2">{{ book.genre }}</td>
    <td class="p-2">
      <button (click)="postCancelReservedBookByUser(book)">
        <span class="material-icons">disabled_by_default</span>
      </button>
    </td>
  </tr>
</table>
