<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <th class="font-medium p-2 text-left">Nr</th>
    <th class="font-medium p-2 text-left">Title</th>
    <th class="font-medium p-2 text-left">Author</th>
    <th class="font-medium p-2 text-left">Status</th>
    <th class="font-medium p-2 text-left">Genre</th>
    <th class="font-medium p-2 text-left">Cancel</th>
  </tr>
  <tr class="border-b hover:bg-gray-50" *ngFor="let book of reservedBooks; let i = index">
    <td class="p-2">{{ i + 1 }}</td>
    <td class="p-2">{{ book.title }}</td>
    <td class="p-2">
      <span *ngFor="let author of book.authors"
        ><p>{{ author.firstName }} {{ author.lastName }}<br /></p
      ></span>
    </td>
    <td class="p-2" [style.color]="book.status === 'reserved' ? 'red' : book.status === 'ready' ? 'green' : 'inherit'">
      {{ book.status }}
    </td>
    <td class="p-2">{{ book.genre }}</td>
    <td class="p-2" class="example-button-row">
      <button
        mat-raised-button
        color="primary"
        (click)="postCancelReservedBookByUser(book)"
        [disabled]="isButtonDisabled"
      >
        <span class="material-icons">disabled_by_default</span>
      </button>
    </td>
  </tr>
</table>
