<div style="width: 80%; margin: auto">
  Wyświetlanie odpowiednich zakładek w zależności od roli, będzie włączone jak będę znał rolę różnych użytkowników
</div>

<header class="flex items-center">
  <div class="font-medium py-2 px-4 text-xl flex items-center mr-4">
    <span class="material-icons-round mr-2">auto_stories</span>
    <span>{{ title }}</span>
  </div>

  <nav class="">
    <ul class="flex">
      <li><a class="nav-item" routerLink="list" routerLinkActive="active">List</a></li>
      <li>
        <a
          *ngIf="user?.role === 0 && user?.username !== 'akielar'"
          class="nav-item"
          routerLink="reserved"
          routerLinkActive="active"
          >Reserved</a
        >
      </li>
      <li>
        <a
          *ngIf="user?.role === 0 && user?.username !== 'akielar'"
          class="nav-item"
          routerLink="list"
          routerLinkActive="active"
          >Borrowed</a
        >
      </li>
      <li>
        <a *ngIf="user?.username === 'akielar'" class="nav-item" routerLink="list" routerLinkActive="active"
          >Admin List</a
        >
      </li>
      <li>
        <a *ngIf="user?.username === 'akielar'" class="nav-item" routerLink="admin-reserved" routerLinkActive="active"
          >Admin Reserved</a
        >
      </li>
      <li>
        <a *ngIf="user?.username === 'akielar'" class="nav-item" routerLink="list" routerLinkActive="active"
          >Admin Borrowed</a
        >
      </li>
      <li><a class="nav-item" routerLink="about" routerLinkActive="active">About</a></li>
    </ul>
  </nav>

  <!--  <nav class="">-->
  <!--    <ul class="flex">-->
  <!--      <li><a class="nav-item" routerLink="list" routerLinkActive="active">List</a></li>-->
  <!--      <li><a class="nav-item" routerLink="reserved" routerLinkActive="active">Reserved</a></li>-->
  <!--      <li><a class="nav-item" routerLink="list" routerLinkActive="active">Borrowed</a></li>-->
  <!--      <li><a class="nav-item" routerLink="list" routerLinkActive="active">Admin List</a></li>-->
  <!--      <li>-->
  <!--        <a class="nav-item" routerLink="admin-reserved" routerLinkActive="active">Admin Reserved</a>-->
  <!--      </li>-->
  <!--      <li>-->
  <!--        <a class="nav-item" routerLink="list" routerLinkActive="active">Admin Borrowed</a>-->
  <!--      </li>-->
  <!--      <li><a class="nav-item" routerLink="about" routerLinkActive="active">About</a></li>-->
  <!--    </ul>-->
  <!--  </nav>-->

  <div class="flex-1"></div>

  <app-user-widget></app-user-widget>

  <app-language-select></app-language-select>
</header>
