section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.list-item {
  @apply p-2 border-b text-center hover:bg-gray-100;
}
.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  flex: 0 0 auto;
  width: 200px;
  margin-right: 0px;
}

.genre-item {
  margin-top: 8px;
}

.sidebar ul li {
  margin-top: 12px;
}
.genretitle {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.main {
  padding-top: 10px;
  flex: 1;
}



