.list-item {
  @apply p-2 border-b text-center hover:bg-gray-100;
}
.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  flex: 0 0 auto;
  width: 200px;
  margin-right: 0px;
}

.sidebar ul li {
  margin-top: 12px;
}
.genretitle {
  font-size: 25px;
}

.bold {
  font-weight: bold;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.main {
  padding-top: 10px;
  flex: 1;
}


