<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <th class="font-medium p-2 text-left">Signature</th>
    <th class="font-medium p-2 text-left">Title</th>
    <th class="font-medium p-2 text-left">User</th>
    <th
      class="font-medium p-2 text-left"
      (click)="toggleSortDirection()"
      [style.cursor]="sortDirection ? 'pointer' : 'auto'"
      (mouseleave)="sortDirection ? (sortDirection = sortDirection) : ''"
    >
      Status
      <span *ngIf="sortDirection === 'asc'">&#x25B2;</span>
      <span *ngIf="sortDirection === 'desc'">&#x25BC;</span>
    </th>
    <th class="font-medium p-2 text-left">Ready</th>
    <th class="font-medium p-2 text-left">Lend</th>
    <th class="font-medium p-2 text-left">Cancel</th>
  </tr>
  <tr class="border-b hover:bg-gray-50" *ngFor="let DTO of AdminSignatureReservedDTOs">
    <td class="p-2">{{ DTO.bookSignature }}</td>
    <td class="p-2">{{ DTO.title }}</td>
    <td class="p-2">{{ DTO.username }}</td>
    <td class="p-2" [style.color]="DTO.status === 'reserved' ? 'red' : DTO.status === 'ready' ? 'green' : 'inherit'">
      {{ DTO.status }}
    </td>

    <td class="p-2" *ngIf="DTO.status !== 'ready'; else ready">
      <button mat-raised-button color="primary" (click)="postReadyReservedSignatureByUser(DTO)">
        <span class="material-icons">add_box</span>
      </button>
    </td>
    <ng-template #ready>
      <td class="p-2"></td>
    </ng-template>

    <td class="p-2" *ngIf="DTO.status !== 'reserved'; else reserved">
      <button
        mat-raised-button
        color="primary"
        (click)="postBorrowReservedSignatureByUser(DTO)"
        [disabled]="isButtonDisabled"
      >
        <span class="material-icons">add_box</span>
      </button>
    </td>

    <ng-template #reserved>
      <td class="p-2"></td>
    </ng-template>

    <td class="p-2">
      <button
        mat-raised-button
        color="warn"
        (click)="postCancelReservedSignatureByUser(DTO)"
        [disabled]="isButtonDisabled"
      >
        <span class="material-icons">disabled_by_default</span>
      </button>
    </td>
  </tr>
</table>
