<form #bookForm="ngForm">
  <div class="example-button-container float-right btn btn-primary nav-link">
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      type="submit"
      routerLink="/add-book"
      routerLinkActive="active"
    >
      <span class="material-symbols-outlined">bookmark_add</span>
    </button>
  </div>
</form>
<div>
  <input
    type="text"
    id="text"
    placeholder="Search"
    class="px-3 py-2 placeholder-gray-500 text-black rounded-sm ring-2 ring-gray-300 focus:ring-gray-500 focus:ring-2"
    style="border: 1px solid black"
    [(ngModel)]="search"
    name="text"
    (keyup)="onSearch()"
  />
  <button type="submit"></button>
</div>

<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <th class="font-medium p-2 text-left">Signature</th>
    <th class="font-medium p-2 text-left">Title</th>
    <th
      class="font-medium p-2 text-left"
      class="font-medium p-2 text-left"
      (click)="toggleSortDirectionByUsername()"
      [style.cursor]="sortDirection ? 'pointer' : 'auto'"
      (mouseleave)="sortDirection ? (sortDirection = sortDirection) : ''"
    >
      User
      <span *ngIf="sortDirection === 'asc'">&#x25B2;</span>
      <span *ngIf="sortDirection === 'desc'">&#x25BC;</span>
    </th>
    <th
      class="font-medium p-2 text-left"
      (click)="toggleSortDirectionByStatus()"
      [style.cursor]="sortDirection ? 'pointer' : 'auto'"
      (mouseleave)="sortDirection ? (sortDirection = sortDirection) : ''"
    >
      Status
      <span *ngIf="sortDirection === 'asc'">&#x25B2;</span>
      <span *ngIf="sortDirection === 'desc'">&#x25BC;</span>
    </th>
    <th class="font-medium p-2 text-left"></th>
    <!--    <th class="font-medium p-2 text-left"></th>-->
  </tr>
  <tr class="border-b hover:bg-gray-50" *ngFor="let DTO of adminPanelDTOs">
    <td class="p-2">{{ DTO.bookSignature }}</td>
    <td class="p-2">{{ DTO.title }}</td>
    <!--    TODO: dodaj do signeture DTO jeszcze zapis tytułu-->

    <td class="p-2">{{ DTO.username }}</td>
    <td
      class="p-2"
      [style.color]="
        DTO.status === 'borrowed'
          ? 'red'
          : DTO.status === 'reserved'
          ? 'orange'
          : DTO.status === 'ready'
          ? 'blue'
          : DTO.status === 'available'
          ? 'green'
          : 'inherit'
      "
    >
      {{ DTO.status }}
    </td>
    <td class="p-2 example-button-row">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn btn-primary nav-link"
        [routerLink]="['/edit-book/', DTO.bookId]"
        routerLinkActive="active"
      >
        <!--        Edit-->
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <span class="material-symbols-outlined">edit_note</span>
      </button>

      <button
        mat-raised-button
        color="warn"
        type="submit"
        class="btn btn-danger"
        (click)="deleteOneSignatureAsAdmin(DTO.id)"
      >
        <!--        Delete-->
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
        />
        <span class="material-symbols-outlined">delete_forever</span>
      </button>
    </td>
  </tr>
</table>
