<form></form>

<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <!--    <th class="font-medium p-2 text-left">Id</th>-->
    <th class="font-medium p-2 text-left">Title</th>
    <th class="font-medium p-2 text-left">Book Signature</th>
    <th
      class="font-medium p-2 text-left"
      class="font-medium p-2 text-left"
      (click)="toggleSortDirectionByUsername()"
      [style.cursor]="sortDirection ? 'pointer' : 'auto'"
      (mouseleave)="sortDirection ? (sortDirection = sortDirection) : ''"
    >
      Username
      <span *ngIf="sortDirection === 'asc'">&#x25B2;</span>
      <span *ngIf="sortDirection === 'desc'">&#x25BC;</span>
    </th>
    <th class="font-medium p-2 text-left">Status</th>
    <th class="font-medium p-2 text-left">Borrowed Date</th>
    <th class="font-medium p-2 text-left">Back to Available</th>
    <th class="font-medium p-2 text-left">Send a reminder</th>
  </tr>
  <ng-container *ngFor="let book of adminPanelDTOs">
    <tr class="border-b hover:bg-gray-50" *ngIf="book.status !== 'available'">
      <td class="p-2">{{ book.title }}</td>
      <td class="p-2">{{ book.bookSignature }}</td>
      <td class="p-2">{{ book.username }}</td>
      <td
        class="p-2"
        [style.color]="book.status === 'borrowed' ? 'red' : book.status === 'available' ? 'green' : 'inherit'"
      >
        {{ book.status }}
      </td>
      <td class="p-2">{{ book.statusDate | date : 'dd-MM-yyyy' }}</td>

      <td class="p-2 example-button-row" *ngIf="book.status !== 'available'; else available">
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="button"
          (click)="postBookFromBorrowedToAvailable(book)"
        >
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
          />
          <span class="material-symbols-outlined">reply</span>
        </button>
      </td>
      <ng-template #available>
        <td class="p-2"></td>
      </ng-template>

      <td class="p-2 example-button-row">
        <button mat-raised-button color="warn" class="contactButton" (click)="sendMailWithReminder(book)">
          <!--          Send e-mail-->
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> outgoing_mail </span>
        </button>
      </td>
    </tr>
  </ng-container>
</table>
