<form>
  <div *ngIf="username">
    <!--    <h1>Lista książek wypożyczonych przez użytkownika: {{ username }}</h1>-->
  </div>
</form>

<table class="w-full">
  <tr class="border-b-2 border-gray-400">
    <th class="font-medium p-2 text-left">Title</th>
    <th class="font-medium p-2 text-left">Borrow Date</th>
    <th class="font-medium p-2 text-left">Return Date</th>
    <th class="font-medium p-2 text-left">Status</th>
  </tr>
  <tr class="border-b hover:bg-gray-50" *ngFor="let book of borrowedBook">
    <td class="p-2">{{ book.title }}</td>
    <td class="p-2">{{ book.borrowedDate | date : 'dd-MM-yyyy' }}</td>
    <td class="p-2">{{ book.returnDate | date : 'dd-MM-yyyy' }}</td>
    <td class="p-2">{{ book.status }}</td>
  </tr>
</table>
